<script lang="ts">
	import { onMount } from "svelte";

	// create PocketBase
	import init from "$lib/actions/init__pocketBase";
	import PocketBase, { Record } from "pocketbase";

	let pb: PocketBase = new PocketBase();

	// create intent
	let intent: string = "";

	// on mount
	onMount(() => {
		pb = init().pb; // get pocketbase client!

		// get intent
		intent = new URLSearchParams(window.location.search).get("intent") || "";
	});
</script>

<main>
	{#if intent === ""}
		<card class="round-1 flex justify-center align-center">
			<button
				class="round-1-tl round-1-bl"
				on:click={() => {
					intent = "login";
				}}>Login</button
			>

			<p
				style="box-shadow: inset 0 0 0 1px var(--primary); padding: 0.4rem 1rem; line-height: 1.45rem;"
			>
				or
			</p>

			<button
				class="round-1-tr round-1-br"
				on:click={() => {
					intent = "create";
				}}>Sign Up</button
			>
		</card>
	{:else}
		<card class="round-1-tl round-1-tr flex justify-center align-center">
			<form
				class="flex justify-center"
				style="flex-direction: column; gap: var(--u-2); width: var(--u-100);"
				on:submit|preventDefault={async (e) => {
					if (!pb) return; // we need a pocketbase client

					try {
						if (intent === "create") {
							// create account
							const account = await pb.collection("users").create({
								// @ts-ignore
								password: e.target.password.value,
								// @ts-ignore
								passwordConfirm: e.target.password.value,
								// @ts-ignore
								username: e.target.username.value
							});

							// login
							await pb
								.collection("users")
								// @ts-ignore
								.authWithPassword(e.target.username.value, e.target.password.value);

							// create progress record
							await pb.collection("progress").create({
								owner: account.id,
								books_read: []
							});

							// reload
							window.location.href = "/dashboard";
						} else {
							// login to account
							await pb
								.collection("users")
								// @ts-ignore
								.authWithPassword(e.target.username.value, e.target.password.value);

							// reload
							window.location.href = "/dashboard";
						}
					} catch {
						alert("Failed to run action!");
					}
				}}
			>
				<label for="username" class="form-label">Username</label>
				<input
					type="text"
					name="username"
					minlength="1"
					maxlength="32"
					placeholder="Username"
					required
				/>

				<label for="password" class="form-label mt-2">Password</label>
				<input
					type="password"
					name="password"
					minlength="1"
					maxlength="320"
					placeholder="Password"
					required
				/>

				<button class="mt-8" style="width: 100%;"
					>{intent === "create" ? "Create Account" : "Sign In"}</button
				>
			</form>
		</card>

		<card class="round-1-bl round-1-br flex justify-center align-center" style="border-top: none;">
			<button class="round-2 secondary"
				on:click={() => {
					intent = "";
				}}>Switch Action</button
			>
		</card>
	{/if}
</main>
