<script lang="ts">
	import Hero from "$lib/components/Hero.svelte";

	import type { PageData } from "./$types";
	import { onMount } from "svelte";

	import { scale } from "svelte/transition";
	import { quintOut } from "svelte/easing";

	import site from "$lib/site.json";

	export let data: PageData;
	// @ts-ignore
	export const { id } = data;

	// create PocketBase
	const pb = data.pb;

	// create isLoading
	let isLoading = false;

	// ...
	import Loader from "$lib/components/Loader.svelte";
	import Title from "$lib/components/navigation/Title.svelte";
	import { CheckCircle16 } from "svelte-octicons";

	// on mount
	onMount(async () => {
		console.log(data);
		if (data.reauth) window.location.href = "/auth";
	});

	let user = pb.authStore.model;

	// functions
	async function changePicture() {
		// get new image...
		if (!pb.authStore.model) return;
		isLoading = true;

		// create input
		const input = document.createElement("input");
		input.type = "file";
		input.accept = "image/jpg, image/jpeg, image/png, image/svg+xml, image/gif";
		input.click();

		// wait for change
		input.addEventListener("change", async () => {
			if (!input.files || !pb.authStore.model) return;
			let file = input.files[0];

			// upload
			const data = new FormData();
			data.set("avatar", file);

			await pb.collection("users").update(pb.authStore.model.id, data);
			window.location.reload();
		});
	}
</script>

<Title page="User Settings" />

<component>
	<Hero title="User Settings" />

	<div class="mt-4 flex justify-center">
		{#if !isLoading}
			<main>
				<card class="round-1-tl round-1-tr">
					<button
						style="width: 100%;"
						class="round"
						on:click={async () => {
							if (!pb || !pb.authStore.model || !user) return;

							try {
								isLoading = true;
								await pb.collection("users").update(pb.authStore.model.id, user);
								isLoading = false;
							} catch {
								alert("Failed to update user!");
							}
						}}
					>
						<CheckCircle16 />
						<span class="ml-2" style="margin-top: 2px;">Save</span>
					</button>

					<button
						style="width: 100%;"
						class="round mt-2"
						on:click={() => {
							pb.authStore.clear();
							window.location.reload();
						}}
					>
						Sign Out
					</button>
				</card>

				<card
					in:scale={{ duration: 250, opacity: 0, start: 0.5, easing: quintOut }}
					class="flex align-center round-1-bl round-1-br"
					style="border-top: none; gap: var(--u-2);"
				>
					{#if pb.authStore.model && user}
						<div>
							<h2>Avatar</h2>

							<span>
								<img
									src="{site.backend}/api/files/_pb_users_auth_/{user.id}/{user.avatar}?thumb=250x250"
									alt="User Avatar"
									class="round-1"
								/>

								<button class="round secondary mt-2" style="width: 100%;" on:click={changePicture}
									>Upload</button
								>
							</span>
						</div>
					{/if}
				</card>
			</main>
		{:else}
			<Loader />
		{/if}
	</div>
</component>

<style>
	main card {
		width: calc(var(--u-100) * 1.5);
	}

	@media screen and (max-width: 800px) {
		main card {
			width: 100%;
		}
	}

	main card div {
		display: flex;
		gap: var(--u-8);
		justify-content: space-between;
		align-items: center;
		width: 100%;
		border-top: solid 1px var(--bg-surface-lower);
		padding: var(--u-4);
		flex-wrap: wrap;
	}
</style>
