<script lang="ts">
	export let extraTitle: string = "";
	export let currentPage = "";

	import { ChevronDown24, ThreeBars16, XCircle16 } from "svelte-octicons";

	import { fly, fade } from "svelte/transition";
	import { quintOut } from "svelte/easing";
	import { onMount } from "svelte";

	import site from "$lib/site.json";
	import Group from "./Group.svelte";

	let navItems: any[] = site.navigation;

	// load current page
	onMount(() => {
		function getPage() {
			const navItem = site.navigation.find((x) => x.address === window.location.pathname);

			if (!navItem) {
				currentPage = "";
				return; // return if no navItem
			}

			currentPage = navItem.pageName as string;
		}

		setInterval(getPage, 1000);
		getPage();
	});

	// mobile control
	let mobileMenuOpen = false;
</script>

<nav>
	<div id="desktop" class="flex justify-space-between" style="width: 100%;">
		<div>
			<h1 class="ml-4"><a href="/" class="title">{site.title}</a></h1>
			{#if extraTitle}
				<h1 style="color: var(--text-primary); font-weight: 500; user-select: none;">
					- {extraTitle}
				</h1>
			{/if}
		</div>

		<div class="flex align-center" style="gap: var(--u-2);">
			{#each navItems as item}
				{#if item.type === "group"}
					<button
						class="nav-btn"
						style="position: relative;"
						on:mousedown={() => {
							item.open = !item.open;
						}}
						on:mouseenter={() => {
							item.open = true;
						}}
						on:mouseleave={() => {
							item.open = false;
						}}
					>
						<ChevronDown24 width="22" height="22" style="margin-top: 2px;" />
						<span class="ml-2">{item.label}</span>

						{#if item.open}
							<Group items={item.items} {currentPage} />
						{/if}
					</button>
				{:else}
					<a
						href={item.address}
						class="nav-btn {currentPage === item.pageName ? 'current' : ''}"
						on:click={() => {
							document.body.style.overflow = "auto";
							navItems[navItems.indexOf(item)].loading = true;

							// wait for page to load, disable loading when it does
							const int = setInterval(() => {
								if (window.location.pathname === item.address.split("?")[0]) {
									navItems[navItems.indexOf(item)].loading = false;
									clearInterval(int);
								}
							}, 1000);
						}}
					>
						{#if navItems[navItems.indexOf(item)].loading}
							<div style="animation: blink infinite ease-in-out 2s running;">
								{item.label}
							</div>
						{:else}
							{item.label}
						{/if}
					</a>
				{/if}
			{/each}
		</div>
	</div>

	<div class="flex align-center" style="gap: var(--u-2);" id="mobile">
		<button
			aria-label="Open navigation menu"
			class="toggle mr-2 round"
			on:click={() => {
				document.body.style.overflow = "hidden";
				mobileMenuOpen = true;
			}}
		>
			<ThreeBars16 />
		</button>

		{#if mobileMenuOpen}
			<section
				class="item-list"
				in:fly={{
					duration: 300,
					x: 0,
					y: -100,
					opacity: 0,
					easing: quintOut
				}}
				out:fade={{ duration: 300, easing: quintOut }}
			>
				<card
					class="mb-4 flex align-center round-1"
					style="flex-direction: column; width: calc(var(--u-50) + 2rem);"
				>
					<h1><a href="/" class="title">{site.title}</a></h1>

					{#if extraTitle}
						<h1 style="color: var(--text-primary); font-weight: 500; user-select: none;">
							{extraTitle}
						</h1>
					{/if}
				</card>

				{#each navItems as item}
					{#if item.type === "group"}
						<button
							class="nav-btn"
							style="position: relative;"
							on:mousedown={() => {
								item.open = !item.open;
							}}
							on:mouseenter={() => {
								item.open = true;
							}}
							on:mouseleave={() => {
								item.open = false;
							}}
						>
							<ChevronDown24 width="22" height="22" style="margin-top: 2px;" />
							<span class="ml-2">{item.label}</span>

							{#if item.open}
								<Group items={item.items} {currentPage} />
							{/if}
						</button>
					{:else}
						<a
							href={item.address}
							class="nav-btn {currentPage === item.pageName ? 'current' : ''}"
							on:click={() => {
								document.body.style.overflow = "auto";
							}}
						>
							{item.label}
						</a>
					{/if}
				{/each}

				<button
					class="mt-2 secondary round"
					on:click={() => {
						document.body.style.overflow = "auto";
						mobileMenuOpen = false;
					}}
					aria-label="Close navigation menu"
				>
					<XCircle16 width="20" height="20" />
					<span class="ml-2">Close</span>
				</button>
			</section>
		{/if}
	</div>
</nav>

{#if mobileMenuOpen}
	<style>
		footer section:nth-child(2) {
			display: none;
		}
	</style>
{/if}

<style>
	.nav-btn {
		transition: all 0.2s;
		font-weight: 700;
		padding: 0.4rem 1rem;
		background: var(--bg-surface-lower);
		border-radius: var(--border-radius-1);
		cursor: pointer;
		color: var(--primary);
	}

	.nav-btn:hover {
		background: var(--text-primary);
		color: var(--text-invert);
	}

	.nav-btn.current {
		background: var(--primary);
		color: var(--text-invert);
	}

	.nav-btn.current:hover {
		background: var(--primary-low);
	}

	/* desktop/mobile menus */
	#desktop {
		display: flex;
	}

	#mobile {
		display: none;
	}

	@media screen and (max-width: 800px) {
		#desktop {
			display: none;
		}

		#mobile {
			display: flex;
		}

		nav {
			justify-content: center;
		}
	}

	#mobile .item-list {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: var(--bg-surface-low);
		border: solid 1px var(--bg-surface-lowest);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: var(--u-2);
		z-index: 10000;
	}

	#mobile .item-list .nav-btn,
	#mobile .item-list button {
		width: calc(var(--u-50) + 2rem);
		text-align: center;
	}
</style>
