<script lang="ts">
	import site from "$lib/site.json";
	import { ChevronDown16 } from "svelte-octicons";
	import Group from "./Group.svelte";
</script>

<footer class="mt-12">
	<div class="section-container">
		<section>
			<a href="/"><h1>{site.title}</h1></a>
			<p>Page rendered {new Date().toLocaleString()}</p>
		</section>

		<section>
			{#each site.navigation as item}
				{#if item.type === "group"}
					<div
						class="link"
						style="position: relative; display: flex; align-items: center;"
						on:mousedown={() => {
							item.open = !item.open;
						}}
					>
						<span class="mb-2 mr-2">{item.label}</span>
						<ChevronDown16 />

						{#if item.open}
							<Group items={item.items} currentPage="" />
						{/if}
					</div>
				{:else}
					<a href={item.address} class="link">{item.label}</a>
				{/if}
			{/each}
		</section>
	</div>
</footer>

<style>
	a:hover h1 {
		color: var(--text-invert);
	}
</style>
