<script lang="ts">
	import Hero from "$lib/components/Hero.svelte";

	const productPoints = [
		{
			title: "Written in Markdown",
			body: "Notes are written in Markdown, allowing for smaller file sizes and quicker load times."
		},
		{
			title: "Keep your notes with you",
			body: "Notes can be imported and exported as you please, allowing you to save and store your notes locally."
		},
		{
			title: "Easy to save and share",
			body: "Make your notes public and copy a share link to share your notes with friends."
		},
		{
			title: "Safe, secure, private",
			body: 'trinkets is open-source, you can view a repository summary <a href="https://repos.hkau.org/trinkets">here</a>!'
		}
	];
</script>

<component>
	<Hero
		title="Trinkets"
		subheader="The open-source notes platform"
		buttons={[
			{
				label: "Dashboard",
				href: "/dashboard"
			}
		]}
	/>

	<main>
		<section class="flex justify-center align-center" style="gap: var(--u-2);">
			{#each productPoints as point}
				<article>
					<h1>{point.title}</h1>
					<p class="mt-4">{@html point.body}</p>
				</article>
			{/each}
		</section>
	</main>
</component>

<style>
	article h1 {
		font-size: 1.5rem;
	}

	article {
		box-shadow: inset 0 0 4px var(--bg-surface-lowest);
		border: solid 0 transparent;
		padding: var(--u-8);
		border-radius: var(--border-radius-2);
		transition: all 0.15s;
		width: 100%;
	}

	article:hover {
		box-shadow: inset 0 0 4px var(--primary);
		border-left: solid 5px var(--primary);
		border-right: solid 5px var(--primary);
	}
</style>
