<script lang="ts">
	import Hero from "$lib/components/Hero.svelte";

	import type { PageData } from "./$types";
	import { onMount } from "svelte";

	import { scale } from "svelte/transition";
	import { quintOut } from "svelte/easing";

	export let data: PageData;
	// @ts-ignore
	export const { id } = data;

	// create PocketBase
	import type { Record } from "pocketbase";

	const pb = data.pb;

	// create note
	let note: Record = data.note;
	let isLoading = true;

	// ...
	import Loader from "$lib/components/Loader.svelte";
	import YesNoBox from "$lib/components/YesNoBox.svelte";
	import Title from "$lib/components/navigation/Title.svelte";
	import { CheckCircle16 } from "svelte-octicons";

	// on mount
	onMount(async () => {
		if (data.reauth) window.location.href = "/auth";
		if (note.id) isLoading = false;
	});
</script>

<Title page="Note Settings" />

<component>
	<Hero
		title="Note Settings"
		subheader={note.title || "📚 ..."}
		buttons={[
			{
				label: "Edit Note",
				href: `/dashboard/notes/${id}`
			}
		]}
	/>

	<div class="mt-4 flex justify-center">
		{#if !isLoading}
			<main>
				<card class="round-1-tl round-1-tr">
					<button
						style="width: 100%;"
						class="round"
						on:click={async () => {
							if (!pb || !pb.authStore.model) return;

							try {
								isLoading = true;
								await pb.collection("notes").update(id, note);
								isLoading = false;
							} catch {
								alert("Failed to update note!");
							}
						}}
					>
						<CheckCircle16 />
						<span class="ml-2" style="margin-top: 2px;">Save</span>
					</button>
				</card>

				<card
					in:scale={{ duration: 250, opacity: 0, start: 0.5, easing: quintOut }}
					class="flex align-center round-1-bl round-1-br"
					style="border-top: none;"
				>
					<!-- toggle note visibility -->
					<div>
						<h2>Private</h2>
						<YesNoBox
							style="text"
							value={note.private}
							onChange={(value) => {
								note.private = value;
							}}
						/>
					</div>
				</card>
			</main>
		{:else}
			<Loader />
		{/if}
	</div>
</component>

<style>
	main card {
		width: calc(var(--u-100) * 1.5);
	}

	@media screen and (max-width: 800px) {
		main card {
			width: 100%;
		}
	}

	main card div {
		display: flex;
		gap: var(--u-8);
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
</style>
