<script lang="ts">
	import Hero from "$lib/components/Hero.svelte";

	import type { PageData } from "./$types";
	import { onMount } from "svelte";

	import { scale } from "svelte/transition";
	import { quintOut } from "svelte/easing";

	export let data: PageData;
	// @ts-ignore
	export const { id } = data;

	// create PocketBase
	import type { Record } from "pocketbase";

	const pb = data.pb;

	// create note
	let note: Record = data.note;
	let noteView = "both";
	let isLoading = true;

	// import editor
	import Editor from "$lib/components/editor/Editor.svelte";
	import { CheckCircle16, Copy16, Eye16, Gear16, Pencil16, Stack16 } from "svelte-octicons";
	import Loader from "$lib/components/Loader.svelte";

	import { marked } from "marked";
	import { getHighlighter, setCDN } from "shiki";
	import Title from "$lib/components/navigation/Title.svelte";

	setCDN("https://unpkg.com/shiki/");

	let previewContent = "";
	let highlighter: any;

	// on mount
	onMount(async () => {
		previewContent = marked.parse(note.content || "Note content will show up here...");
		if (data.reauth) window.location.href = "/auth";
		if (note.id) isLoading = false;

		// get noteView from window.hash
		noteView = window.location.hash.slice(1);
		if (noteView === "both") noteView = "";

		// create highlighter
		highlighter = await getHighlighter({ theme: "css-variables" });
		previewContent = marked.parse(note.content || "", {
			highlight
		});
	});

	// highlight function
	const highlight = (code: string, lang: string) => {
		if (!highlighter) return code;

		let c = highlighter.codeToHtml(code, { lang });

		// highlighter.codeToHtml returns the pre and code elements, we don't need those
		const doc = new DOMParser().parseFromString(c, "text/xml");
		// body -> pre -> code
		// @ts-ignore
		c = doc.documentElement.firstChild.innerHTML;

		// return c
		return c;
	};
</script>

<Title page={note.title || id} />

<component>
	<Hero title={note.title || "📚 ..."} />

	<div class="mt-4 flex justify-center">
		{#if !isLoading}
			<card
				class="mb-6 round-1 flex justify-space-between align-center toolbar"
				style="width: calc(var(--u-100) * 4);"
				in:scale={{ duration: 250, opacity: 0, start: 0.5, easing: quintOut }}
			>
				<div class="flex" style="gap: var(--u-2);">
					<button
						class="round secondary"
						on:click={async () => {
							if (!pb || !pb.authStore.model) return;

							try {
								isLoading = true;
								await pb.collection("notes").update(id, note);
								isLoading = false;
							} catch {
								alert("Failed to update note!");
							}
						}}
					>
						<CheckCircle16 />
						<span class="ml-2" style="margin-top: 2px;">Save</span>
					</button>

					<a href="/dashboard/notes/{id}/settings" class="doNotAddHover!">
						<button class="round secondary">
							<Gear16 />
							<span class="ml-2" style="margin-top: 2px;">Settings</span>
						</button>
					</a>

					{#if note.private === false}
						<button
							class="round secondary"
							on:click={() => {
								navigator.clipboard.writeText(`${window.location.origin}/view/${id}`);
								alert("Copied public link to clipboard!");
							}}
						>
							<Copy16 />
							<span class="ml-2" style="margin-top: 2px;">Copy Public Link</span>
						</button>
					{/if}
				</div>

				<div class="flex justify-center align-center">
					<a href="#edit" class="doNotAddHover!">
						<button
							class="round-1-tl round-1-bl {noteView !== 'edit' ? 'transparent' : ''}"
							style="border-right: none;"
							aria-label="Edit only"
							title="Edit only"
							on:click={() => {
								noteView = "edit";
							}}
						>
							<Pencil16 />
						</button>
					</a>

					<a href="#both" class="doNotAddHover!">
						<button
							class={noteView !== "" ? "transparent" : ""}
							style="border-right: none;"
							aria-label="Both"
							title="Both"
							on:click={() => {
								noteView = "";
							}}
						>
							<Stack16 />
						</button>
					</a>

					<a href="#view" class="doNotAddHover!">
						<button
							class="round-1-tr round-1-br {noteView !== 'view' ? 'transparent' : ''}"
							aria-label="View only"
							title="View only"
							on:click={() => {
								noteView = "view";
							}}
						>
							<Eye16 />
						</button>
					</a>
				</div>
			</card>

			<div
				class="flex {noteView === '' ? 'justify-space-between' : 'justify-center'} mt-2"
				style="gap: var(--u-2); width: calc(var(--u-100) * 4);"
				id="container"
			>
				{#if noteView === "" || noteView === "edit"}
					<card
						class="round-1 flex toolbar"
						in:scale={{ duration: 250, opacity: 0, start: 0.5, easing: quintOut }}
					>
						<Editor
							value={note.content || ""}
							width="100%"
							height="100%"
							blur={(value) => {
								note.content = value;
								previewContent = marked.parse(note.content || "", {
									highlight
								});
							}}
						/>
					</card>
				{/if}

				{#if noteView === "" || noteView === "view"}
					<card
						class="round-1 toolbar"
						in:scale={{ duration: 250, opacity: 0, start: 0.5, easing: quintOut }}
					>
						<div class="preview md">
							{@html previewContent}
						</div>
					</card>
				{/if}
			</div>
		{:else}
			<Loader />
		{/if}
	</div>
</component>

<style>
	#container card {
		width: 49%;
	}

	@media screen and (max-width: 800px) {
		#container {
			display: block;
		}

		#container card {
			width: 100%;
		}

		#container card:nth-child(2) {
			margin-top: var(--u-2);
		}
	}

	.toolbar {
		transition: all 0.15s;
	}

	.toolbar:hover {
		box-shadow: 0 0 4px var(--primary);
	}
</style>
