<script lang="ts">
	import Title from "$lib/components/navigation/Title.svelte";
	import Hero from "$lib/components/Hero.svelte";
	import { onMount } from "svelte";

	// create PocketBase
	import type { Record } from "pocketbase";
	import Loader from "$lib/components/Loader.svelte";

	import type { PageData } from "./$types";
	import { File16 } from "svelte-octicons";
	export let data: PageData;

	// create notes
	let notes: Record[] = data.notes;
	let isLoading = true;

	// on mount
	onMount(async () => {
		if (data.reauth) window.location.href = "/auth";
		if (notes.length > 0) isLoading = false;
	});
</script>

<Title page="Dashboard" />

<component>
	{#if data.pb.authStore.model}
		<Hero
			title="My Notes"
			buttons={[
				{
					label: "New Note",
					href: "/dashboard/notes/new"
				},
				{
					label: "My Profile",
					href: "/user/" + data.pb.authStore.model.username
				}
			]}
		/>
	{/if}

	<main class="flex justify-center align-center" style="gap: var(--u-2);">
		{#if !isLoading}
			{#each notes as note}
				<a href="/dashboard/notes/{note.id}" class="doNotAddHover!">
					<button
						class="round"
						on:click={() => {
							isLoading = true;
						}}
					>
						<File16 />
						<span class="ml-2">{note.title}</span>
					</button>
				</a>
			{:else}
				<p>🌧️ No notes found! <a href="/dashboard/notes/new">Create a new note</a></p>
			{/each}
		{:else}
			<Loader />
		{/if}
	</main>
</component>
