<script lang="ts">
	import Hero from "$lib/components/Hero.svelte";
	import { onMount } from "svelte";

	// create PocketBase
	import init from "$lib/actions/init__pocketBase";
	import PocketBase, { Record } from "pocketbase";

	let pb: PocketBase = new PocketBase();

	// on mount
	onMount(() => {
		pb = init().pb; // get pocketbase client!
        if (!pb.authStore.model) return window.location.href = "/auth";
	});
</script>

<component>
	<Hero title="Create Note" />

	<main>
		<card class="round-1 flex justify-center align-center">
			<form
				class="flex justify-center"
				style="flex-direction: column; gap: var(--u-2); width: var(--u-100);"
				on:submit|preventDefault={async (e) => {
					if (!pb || !pb.authStore.model) return; // we need a pocketbase client

					try {
						const note = await pb.collection("notes").create({
							// @ts-ignore
							title: e.target.title.value,
							content: "",
							owner: pb.authStore.model.id
						});

						window.location.href = `/dashboard/notes/${note.id}`;
					} catch {
						alert("Failed to run action!");
					}
				}}
			>
				<label for="username" class="form-label">Title</label>
				<input type="text" name="title" minlength="1" maxlength="64" placeholder="Title" required />

				<button class="mt-8" style="width: 100%;">Create Note</button>
			</form>
		</card>
	</main>
</component>
