<script lang="ts">
	import Hero from "$lib/components/Hero.svelte";

	import type { PageData } from "../$types";
	import { onMount } from "svelte";

	import { scale } from "svelte/transition";
	import { quintOut } from "svelte/easing";

	import site from "$lib/site.json";

	export let data: PageData;
	// @ts-ignore
	export const { id } = data;

	// create PocketBase
	const pb = data.pb;

	// create user
	let user: Record = new Record();
	let isLoading = true;

	// ...
	import Loader from "$lib/components/Loader.svelte";
	import Title from "$lib/components/navigation/Title.svelte";
	import { Record } from "pocketbase";

	// on mount
	onMount(async () => {
		if (data.user.id) isLoading = false;
		user = data.user;
	});
</script>

<Title page={data.username} />

<component>
	<Hero title={data.username} />

	<div class="mt-4 flex justify-center">
		{#if !isLoading}
			<main class="flex" in:scale={{ duration: 250, opacity: 0, start: 0.5, easing: quintOut }}>
				<card class="round-1-tl round-1-bl flex justify-center align-center">
					<img
						src="{site.backend}/api/files/_pb_users_auth_/{user.id}/{user.avatar}?thumb=150x150"
						alt="User Avatar"
						class="round-1"
					/>
				</card>

				<card class="round-1-tr round-1-br profile" style="border-left: none;">
					<h1>{user.username}</h1>

					<card class="mt-4 round-1">
						<h2>Public Notes</h2>

						<div class="flex mt-4" style="gap: var(--u-2);">
							{#each data.notes as note}
								<card class="round-1 flex justify-space-between align-center" style="width: 100%;">
									<h3>{note.title}</h3>

									<a href="/view/{note.id}" class="doNotAddHover!">
										<button class="round secondary">View Note</button>
									</a>
								</card>
							{:else}
								<card class="round-1 flex justify-center align-center" style="width: 100%;">
									No public notes!
								</card>
							{/each}
						</div>
					</card>
				</card>
			</main>
		{:else}
			<Loader />
		{/if}
	</div>
</component>

<style>
	main .profile {
		width: calc(var(--u-100) * 1.5);
	}

	@media screen and (max-width: 800px) {
		main card {
			width: 100%;
			border-radius: var(--border-radius-1);
			border: solid 1px var(--bg-surface-lower) !important;
			margin-top: var(--u-2);
		}

		main .profile {
			width: 100%;
		}
	}
</style>
