<script lang="ts">
	import Hero from "$lib/components/Hero.svelte";

	import type { PageData } from "./$types";
	import { onMount } from "svelte";

	import { scale } from "svelte/transition";
	import { quintOut } from "svelte/easing";

	export let data: PageData;
	// @ts-ignore
	export const { id } = data;

	// create PocketBase
	import type { Record } from "pocketbase";

	const pb = data.pb;

	// create note
	let note: Record = data.note;
	let isLoading = true;

	// ...
	import Loader from "$lib/components/Loader.svelte";

	import { marked } from "marked";
	import { getHighlighter, setCDN } from "shiki";
	import Title from "$lib/components/navigation/Title.svelte";
	import { Download16, Person16 } from "svelte-octicons";

	setCDN("https://unpkg.com/shiki/");

	let previewContent = "";
	let highlighter: any;

	let ownerUsername = ((data.note.expand.owner as any) || { username: "admin" }).username;

	// on mount
	onMount(async () => {
		previewContent = marked.parse(note.content || "Note content will show up here...");
		if (note.id) isLoading = false;

		// create highlighter
		highlighter = await getHighlighter({ theme: "css-variables" });
		previewContent = marked.parse(note.content || "", {
			highlight
		});
	});

	// highlight function
	const highlight = (code: string, lang: string) => {
		if (!highlighter) return code;

		let c = highlighter.codeToHtml(code, { lang });

		// highlighter.codeToHtml returns the pre and code elements, we don't need those
		const doc = new DOMParser().parseFromString(c, "text/xml");
		// body -> pre -> code
		// @ts-ignore
		c = doc.documentElement.firstChild.innerHTML;

		// return c
		return c;
	};

	// download function
	function downloadNote() {
		// create blob
		const blob = new Blob([JSON.stringify(note)]);
		const url = URL.createObjectURL(blob);

		// create anchor
		const a = document.createElement("a");
		a.setAttribute("download", `${note.title}.json`);
		a.href = url;

		// click and destroy
		a.click();
		a.remove();
	}
</script>

<Title page={note.title || id} />

<component>
	<Hero title={note.title || "📚 ..."} />

	<div class="mt-4 flex justify-center align-center" style="flex-direction: column;">
		{#if !isLoading}
			<div class="content">
				<card class="round-2 flex justify-center align-center" style="gap: var(--u-2);">
					<a href="/user/{ownerUsername}" class="doNotAddHover!">
						<button class="round">
							<Person16 width="18" height="18" />
							<span class="ml-2">View Owner</span>
						</button>
					</a>

					<button class="round" on:click={downloadNote}>
						<Download16 width="18" height="18" />
						<span class="ml-2">Save</span>
					</button>
				</card>

				<card
					class="round-2 mt-4"
					in:scale={{ duration: 250, opacity: 0, start: 0.5, easing: quintOut }}
				>
					<div class="preview md">
						{@html previewContent}
					</div>
				</card>
			</div>
		{:else}
			<Loader />
		{/if}
	</div>
</component>

<style>
	.content {
		width: calc(var(--u-100) * 2);
	}

	@media screen and (max-width: 800px) {
		.content {
			width: 100%;
		}
	}
</style>
