.md h1,
.md h2,
.md h3 {
	margin-top: var(--u-4);
	margin-bottom: var(--u-4);
	border-bottom: solid 1px var(--bg-surface-lower);
	padding-bottom: var(--u-2);
}

/* code */

.md pre {
	margin-top: var(--u-8);
	margin-bottom: var(--u-4);
	padding: var(--u-4);
	overflow-wrap: break-word;
	transition: all 0.2s;
    border-radius: var(--border-radius-2);
}

.md pre:hover {
	box-shadow: 0 0 4px var(--primary);
}

.md pre,
.md pre code {
	box-shadow: none;
	white-space: pre-wrap;
	text-shadow: none;
}

.md pre code span {
	white-space: pre-wrap;
}

/* code highlighting */

:root {
	--shiki-token-keyword: var(--primary-low);
	--shiki-token-function: hsl(var(--hue), 75%, 25%);
	--shiki-token-constant: hsl(var(--hue), 50%, 45%);

	--shiki-token-string-expression: var(--shiki-token-keyword);
}

@media (prefers-color-scheme: dark) {
	:root {
		--shiki-token-keyword: hsl(var(--hue), 75%, 65%);
		--shiki-token-function: hsl(var(--hue), 75%, 85%);
		--shiki-token-constant: hsl(var(--hue), 50%, 65%);
	}
}
