<svelte:options accessors />

<script lang="ts">
	import { onMount } from "svelte";

	export let width: string;
	export let height: string = "20rem";
	export let value: string;
	export let blur: (value: string) => void;
	export let readonly: boolean = false;

	// import codemirror
	import { EditorView, keymap, ViewPlugin, lineNumbers } from "@codemirror/view";
	import { indentWithTab } from "@codemirror/commands";
	import { EditorState } from "@codemirror/state";

	import { markdown } from "@codemirror/lang-markdown";
	import { basicSetup } from "./EditorSetup";

	// create editor
	let editorElement: HTMLElement;
	export let editorValue: string = "";
	export let editor: EditorView | undefined = undefined;

	onMount(() => {
		editorElement.attachShadow({ mode: "open" });
		editorElement.shadowRoot!.innerHTML += `<style>
            .cm-editor {
                height: ${height};
				background: var(--bg-surface-low);
            }

			.cm-cursor {
				border-left-color: var(--primary) !important;
			}

			.cm-activeLine {
				background-color: var(--bg-surface-lower) !important;
			}

            @media (prefers-color-scheme: dark) {
                .cm-gutters, span {
                    filter: invert(1) hue-rotate(180deg);
                }
            }

			.ͼ6, .ͼ7, .ͼ8, .ͼ9 {
				color: var(--primary);
			}
        </style>`;

		setTimeout(() => {
			editor = new EditorView({
				extensions: [
					basicSetup,
					keymap.of([indentWithTab]),
					markdown(),
					EditorView.updateListener.of((event: any) => {
						editorValue = event.state.doc.toString();
					}),
					EditorState.readOnly.of(readonly),
					EditorView.lineWrapping
				],
				doc: value,
				parent: editorElement.shadowRoot as any
			});
		}, 100);
	});
</script>

<div
	bind:this={editorElement}
	on:blur={() => {
		blur(editorValue);
	}}
	style="width: {width};"
/>
