<script>
	import { Clock24, Rocket24 } from "svelte-octicons";

	import { scale } from "svelte/transition";
	import { quintOut } from "svelte/easing";
</script>

<card class="round-2" in:scale={{ duration: 250, opacity: 0, start: 0.5, easing: quintOut }}>
	<div class="loader">
		<Rocket24 />
		<Clock24 />
	</div>
</card>

<style>
	.loader {
		animation: blink infinite ease-in-out 2s running;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: var(--u-2);
	}

	card {
		width: var(--u-100);
		color: var(--primary);
		box-shadow: 0 0 4px var(--primary);
	}
</style>
