<script lang="ts">
	import { CheckCircleFill16, XCircleFill16 } from "svelte-octicons";

	// basically a checkbox component
	export let onChange: (value: boolean) => void;
	export let value: boolean = false;
	export let style: "text" | "icon" = "text";
</script>

<component style="width: max-content;" class="flex justify-center align-center">
	<button
		class="round-1-tl round-1-bl {value !== true ? 'transparent' : ''}"
		style="border-right: none;"
		aria-label="Yes"
		title="Yes"
		on:click={() => {
			value = true;
			onChange(value);
		}}
	>
		{#if style === "text"}
			Yes
		{:else}
			<CheckCircleFill16 width="18" height="18" />
		{/if}
	</button>

	<button
		class="round-1-tr round-1-br {value !== false ? 'transparent' : ''}"
		style="border-right: none;"
		aria-label="No"
		title="No"
		on:click={() => {
			value = false;
			onChange(value);
		}}
	>
		{#if style === "text"}
			No
		{:else}
			<XCircleFill16 width="18" height="18" />
		{/if}
	</button>
</component>

<style>
	button {
		font-size: small;
	}
</style>